*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display: grid;
    grid-template-rows: 0.3fr 1fr 0.3fr;
    height: 100vh;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
    background-color: sandybrown;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
    font-size: 3rem;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 2rem;
    background-color: brown;
}
button{
    font-size: 3rem;
    padding: 2rem;
    border-radius: 2rem;
}